<div class="login_form_container">
  <div class="login_form_wrapper">
    <form class="login_form" action="/login" method="post">
      <div class="form_control">
        <label class="login_form_control_label">Username:</label>
        <input class="login_form_input" type="text" name="username" />
      </div>
      <div class="form_control">
        <label class="login_form_control_label">Password:</label>
        <input class="login_form_input" type="password" name="password" />
      </div>
      <div>
        <input class="login_form_button" type="submit" value="Log In" />
      </div>
    </form>
  </div>
</div>