<div class="signup_container">
  <div class="signup_wrapper">
    <form class="signup_form" action="/signup" method="post">
      <div class="signup_form_control">
        <label class="signup_form_control_label">Username:</label>
        <input class="signup_form_control_input" type="text" name="username" />
      </div>
      <div class="signup_form_control">
        <label class="signup_form_control_label">Email:</label>
        <input class="signup_form_control_input" type="text" name="email" />
      </div>
      <div class="signup_form_control">
        <label class="signup_form_control_label">Password:</label>
        <input class="signup_form_control_input"type="password" name="password" />
      </div>
      <div>
        <input class="signup_form_button" type="submit" value="Sign Up" />
      </div>
    </form>
  </div>
</div>