@font-face {
    font-family: "Inter";
    src: url("../assets/Inter-VariableFont_slnt\,wght.ttf");
}
* {
    font-family: "Inter";
    box-sizing: border-box;
}
body {
    --page-mg-block: 100px;
    margin: 28px var(--page-mg-block);
    height: 100vh;
}
